* {
    margin:0;
    padding: 0;
    border: 0;
}
html{
    font-size: 16px;
}
body{
    background-color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.flex-row {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content:center;
}
  
header{
    background-color: white;
    height: 64px;
    position: fixed;
    width: 100%;
    padding: 0px 24px;
    z-index: 10;

}

#logo {
    text-transform: uppercase;
    color: gray;
}
#logo img {
    height: 40px;
    width: auto;
}
#logo .text-logo{
    font-size: 1.5rem;
}
#logo span {
    font-weight: bold;
    color: rgb(87, 87, 87);
    
}
nav {
    display: flex;
    margin-right: 24px;
}
nav ul{

}
nav ul li {
    list-style: none;
    margin-right: 1rem;
}
nav ul li a{
    color: rgb(87, 87, 87);
    text-decoration: none;
}
section {
    display: block;
}
main {
    
    position: relative;
    top: 64px;
}
#learn {
    display: flex;
    background-color: rgb(161, 161, 161);
}
#learn img{
    width:  60%;
    padding: 2rem 1.5rem;
}
#learn .text-learn{
    
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:center;
  align-content:center;
  color: rgb(58, 58, 58);
  padding: 2rem 1.5rem;
  
}
#learn .text-learn h2{
    width: 80%;
    font-size: 2rem;
  }
  #learn .text-learn p{
    width: 80%;
    font-size: 1.5rem;
    padding: 2rem 0;   
  }
  #learn .text-learn button{
    width: 80%;
    background-color:rgb(58, 58, 58);
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
  }
#orientation {
    background-color: rgb(236, 236, 236);
    display: flex;
    
}
#orientation article, 
#thesis article {
    order:0;
    flex:0 0 60%;
    padding: 2rem 1.5rem;
    color:rgb(58, 58, 58);
}
#orientation article h2,
#thesis article h2 {
    font-size: 2.2rem;
    padding: 1rem 0rem;
}
#orientation article span,
#thesis article span {
    display: block;
    margin: 1rem 0rem;
}
#orientation article img,
#thesis article img {
    width: 100%;
    margin-bottom: 2rem;
}
#orientation ul li,
#thesis ul li {
    display: flex;
    padding: 1rem;
    border: 1px solid rgb(211, 210, 210);
}
#orientation ul li img,
#thesis ul li img{
    order:0;
    width: 35%;
    margin: 1rem;
}
 .description {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
    align-content:center;
    color: rgb(87, 87, 87);
}
 .description h3,
 .description p{
    padding: 0.3rem 0;
}
 .description a{
    padding: 0.3rem 0;
    text-decoration: none;
    color: rgb(6, 87, 163);
    font-size: 0.78rem;
}
#start {
    background-color: rgb(197, 197, 197);
}
#start h2,
#thesis h2{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0rem;
    color: rgb(58, 58, 58);
    font-size: 2.5rem;
}
#thesis h2{
    padding-bottom: 2rem;

}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    padding: 0rem 3.5rem 2rem 3.5rem;
}
.wrapper article{
    display: block;
    overflow: hidden;
    margin: 1rem;
    background-color: ivory;
}
.wrapper article img{
    width: 100%;
    
}
.wrapper article h3,
.wrapper article h4,
.wrapper article p {
    margin: 1rem;
    color: rgb(87, 87, 87);
}
.wrapper article h4{
    text-transform: uppercase;
    font-weight: 500;
}
.wrapper article h3{
    color: rgb(61, 60, 60);
}



#thesis {
    background-color:  rgb(236, 236, 236);
}
.thesis-content {
    
    display: flex;

}
#thesis article {
   
    order:0;
    flex:0 0 60%;
    padding: 0rem 1.5rem;
    color:rgb(58, 58, 58);

}
#thesis video{
    width: 100%;
    margin-bottom: 2rem;
}




footer {
    background-color: rgb(161, 161, 161);
}
.bg-gray {
    background-color: rgb(204, 203, 203);
}